body{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    }
    
    .navbar{
        background-color: rgba(81, 167, 252, 0.999);
        padding-inline: 200px;
        height: 10vh;
    }
  nav{
justify-content: space-between;
 display: flex;
 margin-left: -95px;
  }  
  nav img{
    width: 52px;
    height: 52px;
    
  }
  nav ul li{
    padding-inline: 25px;
    font-size: 17px;
    padding-block: 17px;
    margin-top: -15px;
    color: aliceblue;
  }
nav ul{
    list-style: none;
    display: flex;
}

nav ul li:hover{
background-color: rgb(223, 212, 142);
cursor: pointer
}

.line{
  font-size: 48px;
color: rgb(72, 72, 72);
}
.color-change1{
color:rgba(81, 167, 252, 0.999) ;
font-size: 48px;
}

.color-change2{
 color:rgb(201, 188, 104) ; 
 font-size: 48px;
}
.container{
  left: 6.5%;
  position: absolute;
  top: 136px;
  

}

.para{
  width: 50%;
  font-size: 15px;
  padding-block: 30px;
  
}
.button1{
  border-radius: 30px;
  padding: 18px;
  width: 185px;
  border: none;
  font-size: 22px;
  cursor: pointer;
 box-shadow: 0 0 10px rgb(79, 79, 79);
  
background-image: linear-gradient(to left,#e4a737,#67b0f9,#449ffa);
}
.button1:hover{
  box-shadow: 0 0 10px rgba(40, 249, 117, 0.974);
  background-image: linear-gradient(to left,#449ffa,#67b0f9,#e4a737);
}

.img1{
  position: absolute;
  top:-70px ;
  left: 580px;
  
}

.img2{
position: absolute;
top:675px ;

}

.container1{
  left: 50%;
  right: -50%;
  position: absolute;
  top: 676px;
  padding-block: 80px
}

.line1{
  font-size: 48px;
color: rgb(93, 92, 92);
padding-block: 10px
}

.para1{
  width: 50%;
  font-size: 20px;
  padding-block: 30px;
}


.button2{
  border-radius: 30px;
  padding: 18px;
  width: 185px;
  border: none;
  font-size: 22px;
  cursor: pointer;
 box-shadow: 0 0 10px rgb(79, 79, 79);
  
background-image: linear-gradient(to left,#291bee,#7369ff);
}
.button2:hover{
  box-shadow: 0 0 19px rgba(8, 54, 179, 0.974);
  background-image: linear-gradient(to left,#7369ff,#291bee);
  
}

.img3{
  position: absolute;
  top:70px ;
  left: -600px;

}


.box{
  
  border: 2px;
  color: #291bee;

}



.container2 {
  text-align: center;
  position: absolute;
  top: 1290px;
  
}

.title {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 14px;
  border-radius: 20px;
  width: 30%;
font-size: 46px;
color: rgb(42, 41, 41);
  height:66px;
  border: 2px solid rgb(3, 3, 122);
  box-shadow: 2px 2px 32px rgb(1, 1, 190);
}
.para2 {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 16px;
}

.card{
  position: absolute;
  top: 1600px;
  display: grid;
  grid-template-columns: 250px;
border-radius: 17px;
background: white;
box-shadow: 5px 5px 15px rgb(61, 61, 61);
text-align: center;
left: 150px;
transition: 0.5s ease;
cursor: pointer;

}

.card-img{
  top: 5px;
  position: relative;
}
.card-text p{
  font-size: 16px;

}
.ct{
  font-family: roboto;
}

.card1{
position: absolute;
  top: 1600px;
  display: grid;
  grid-template-columns: 250px;
border-radius: 17px;
background: white;
box-shadow: 5px 5px 15px rgb(61, 61, 61);
text-align: center;
left: 500px;
transition: 0.5s ease;
cursor: pointer;

}

.card-img1{
  top: 5px;
  position: relative;
}
.card-text1 p{
  font-size: 15.5px;

}
.ct1{
  font-family: roboto;
}

.card2{

  position: absolute;
    top: 1600px;
    display: grid;
    grid-template-columns: 250px;
  border-radius: 17px;
  background: white;
  box-shadow: 5px 5px 15px rgb(61, 61, 61);
  text-align: center;
  left: 850px;
  transition: 0.5s ease;
cursor: pointer;
  
  }
  
  .card-img2{
    top: 5px;
    position: relative;
  
  }
  .card-text2 p{
    font-size: 16px;
  
  }
  .ct2{
    font-family: roboto;
  }
  
  .card3{
  
  position: absolute;
    top: 2080px;
    display: grid;
    grid-template-columns: 250px;
  border-radius: 17px;
  background: white;
  box-shadow: 5px 5px 15px rgb(61, 61, 61);
  text-align: center;
  left: 150px;
  transition: 0.5s ease;
cursor: pointer;
  
  }
  
  .card-img3{
    top: 5px;
    position: relative;
    
  
  }
  .card-text3 p{
    font-size: 14.3px;
  
  }
  .ct3{
    font-family: roboto;
  }

  .card4{
  
    position: absolute;
      top: 2080px;
      display: grid;
      grid-template-columns: 250px;
    border-radius: 17px;
    background: white;
    box-shadow: 5px 5px 15px rgb(61, 61, 61);
    text-align: center;
    left: 500px;
    transition: 0.5s ease;
cursor: pointer;
    
    }
    
    .card-img4{
      top: 5px;
      position: relative;
      
    
    }
    .card-text4 p{
      font-size: 17px;
    
    }
    .ct4{
      font-family: roboto;
    }

    .card5{
  
      position: absolute;
        top: 2080px;
        display: grid;
        grid-template-columns: 250px;
      border-radius: 17px;
      background: white;
      box-shadow: 5px 5px 15px rgb(61, 61, 61);
      text-align: center;
      left: 850px;
      transition: 0.5s ease;
cursor: pointer;
      
      }
      
      .card-img5{
        top: 5px;
        position: relative;
        
      
      }
      .card-text5 p{
        font-size: 16.5px;
      
      }
      .ct5{
        font-family: roboto;
      }

      .card:hover{
        transform: scale(1.1,1.1);
        box-shadow: 5px 5px 15px rgb(42, 41, 41);
      
      }
      .card1:hover{
        transform: scale(1.1,1.1);
        box-shadow: 5px 5px 15px rgb(42, 41, 41);
      
      }
      .card2:hover{
        transform: scale(1.1,1.1);
        box-shadow: 5px 5px 15px rgb(42, 41, 41);
      
      }
      .card3:hover{
        transform: scale(1.1,1.1);
        box-shadow: 5px 5px 15px rgb(42, 41, 41);
      
      }
      .card4:hover{
        transform: scale(1.1,1.1);
        box-shadow: 5px 5px 15px rgb(42, 41, 41);
      
      }
      .card5:hover{
        transform: scale(1.1,1.1);
        box-shadow: 5px 5px 15px rgb(42, 41, 41);
      
      }

      .c-l {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2570px;
        background-image: url(Images/Project-Cover/Project-Cover.png);
      width: 100%;
      
      }

      .info {
        display: flex;
        justify-content: space-around;
        background-color: white;
        text-align: center;
        margin-left: 13%;
        margin-right: 2%;
        border-radius: 20px;
        width: 800px;
        box-shadow: 10px 10px 40px black;
      }
      .lt{
        font-size: 35px;
      }
      .para-l {
        margin-top: -18px;
    
        color: #000000;
      font-weight: 560;
      }
      .contact{
        position: absolute;
    display: flex;
    justify-content: center;
      top: 3000px;
      width: 1130px;
      left: 70px;
      }

      .email {
        display: flex;
        background-image: url(Images/Background/Background2.jpg);
        background-size: cover;
        height: 375px;
        width: 100%;
        text-align: center;
        border-radius: 33px;
        padding-left: 68px;
        box-shadow: 1px 1px 16px #1f7af0;
      }
      .email-lt {
        height: 370px;
        width: auto;
      }
      .contact1{
        padding-left: 90px;
      }
      .h1-l{
        color: #0b0d17;
        font-size: 50px;
      }
      .h2-l {
        font-size: 33px;
        color: blue;
        margin-top: -15px;
        margin-bottom: 58px;
      }
      .btn {
        background-image: linear-gradient(to top, rgb(42, 42, 246), rgb(80, 200, 247));
        padding: 20px 40px;
        border-radius: 50px;
        border: none;
        text-decoration: none;
        color: #fff;
        font-size: 19px;
      }
    .btn:hover {
        background-image: linear-gradient(to top, #050577, #0e8cbe);
      }  


      
      .last-p{
        text-align: center;
        top: 3450px;
        display: flex;
        position: absolute;
        background-color: #0b0d17;
      height: 220PX;
      width: 1270PX;
      padding-left: 400px;
      color: #2d2e2e;
   
      }
      

    
